.formMargin {
  margin-left: 7%;
  margin-top: 4%;
}

div.formMargin div{
  text-align: center;
  margin-bottom: 20px;
}
h1{
  font-size: 50px;
  font-weight: bold;
}
.modal-body{
  font-size: 120%;
}
::ng-deep .mat-form-field{ width:230px !important; }


