<nav class="navbar navbar-expand-md sticky-top">
  <div class="logoMargin"><span class="navbar-brand" >
    <img routerLink="/" data-toggle="tooltip"
         title="Redirect to Landing Page" id="logo" src="../assets/unic.png">
  </span>
  </div>
  <span id="navHeading" class="navbar-text">
    <b>Library of Unic Karlsruhe</b>
  </span>
  <ul class="navbar-nav ml-auto">
    <li id="Margin" class="nav-item dropdown">
      <a class="nav-link navbarColor" routerLink="/register" id="register" role="button" data-toggle="tooltip" title="Redirect to Register Page" aria-haspopup="true"
         aria-expanded="false">
        Register
      </a>
    </li>
    <li id="logoutMargin" class="nav-item dropdown">
      <a class="nav-link navbarColor" routerLink="/login" id="login" role="button" data-toggle="tooltip" title="Redirect to Login Page" aria-haspopup="true"
         aria-expanded="false">
        Login
      </a>
    </li>
  </ul>
</nav>
