body {
  background-color: #f0ffff !important;
}

label {
  cursor: pointer;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


mat-icon:hover {
  cursor: pointer;
}

