<app-navbar></app-navbar>
<div class="officeMargin">
  <div>
    <h1>Add an Office to save Books to</h1>
  </div>
  <br>
  <div>
    <label for="officeNameInput">Office Name:&nbsp;</label>
    <mat-form-field><input matInput placeholder="enter Office Name" required
                           id="officeNameInput" [(ngModel)]="officeName"
                           name="officeNameInput" type="text" (input)="updateLocalStorage()">
    </mat-form-field>
  </div>
  <div>
    <button type="button" class="btn btn-outline-info" [disabled]="!officeName" (click)="addOffice(officeName)">
      &nbsp;&nbsp;&nbsp;&nbsp;Add Office&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" [ngClass]="{'alert-success':successfulSave, 'alert-danger':!successfulSave}">
        <ng-container *ngIf="alreadyPresent">
          There is already an Office with Name <b>{{officeName}}</b> present.
        </ng-container>
        <ng-container *ngIf="successfulSave">
          Office with Name <b>{{officeName}}</b> successfully created!<br>
          You can now store your Books there.
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
